<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>SELL</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/nine'">Home</a></li>
                        <li class="breadcrumb-item active">Sell</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
            <form class="p-3">
                    <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" class="form-control" id="name" placeholder="Apple iPhone 11 Pro 256GB Midnight Green | 2019">
                    </div>

                    <div class="form-group">
                            <label for="seeAnotherFieldd">Category</label>
                            <select class="form-control" id="seeAnotherFieldd">
                                  <option value="Prop">Property</option>
                                  <option value="Cars">Cars</option>
                                  <option value="Furn">Furniture</option>
                                  <option value="Jobs">Jobs</option>
                                  <option value="Elec">Electronics & Appliances</option>
                                  <option value="Mobi">Mobiles</option>
                                  <option value="Bikes">Bikes</option>
                                  <option value="Books">Books, Sports & Hobbies</option>
                                  <option value="Fash">Fashion</option>
                                  <option value="Pets">Pets</option>
                                  <option value="Services">Services</option>
                            </select>
                          </div>
                    
                    <div class="form-group">
                      <label for="seeAnotherField">Brand</label>
                      <select class="form-control" id="seeAnotherField">
                            <option value="no">No Way.</option>
                            <option value="yes">Yes!</option>
                      </select>
                    </div>
                    
                    <div class="form-group" id="otherFieldDiv">
                      <label for="otherField">Here you go!</label>
                      <select class="form-control" id="otherField">
                        <option>Yay</option>
                        <option>Woo</option>
                        <option>Hazah</option>
                        <option>Yipee</option>
                        <option>Hoorah</option>
                      </select>
                    </div>

                    <div class="form-group">
                            <label for="comments">Description</label>
                            <textarea class="form-control" id="comments" rows="3"> </textarea>
                            
                    </div>
                    
                    <div class="form-group">
                      <label for="seeAnotherFieldGroup">Do You Want To See Another Group of Fields?</label>
                      <select class="form-control" id="seeAnotherFieldGroup">
                            <option value="no">Not Particularly.</option>
                            <option value="yes">I Guess!</option>
                      </select>
                    </div>
                    
                    <div class="form-group" id="otherFieldGroupDiv">
                      <div class="row">
                        <div class="col-6">
                          <label for="otherField1">Group: Heres One!</label>
                          <input type="text" class="form-control w-100" id="otherField1">
                        </div>
                        <div class="col-6">
                          <label for="otherField2">Group: Another One!</label>
                          <input type="text" class="form-control w-100" id="otherField2">
                        </div>
                      </div>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                
    </div>
</section>
<!--Section ends-->