<!-- collection banner -->
<section class="banner-padding banner-goggles">
    <div class="container">
        <div class="row partition3">
            
            <div class="col-md-4" *ngFor="let ct of category_res.rows | paginate: { itemsPerPage: 3, currentPage: page }">
                <div class="card" >
                    <div class="card-body" >
                        <div class="img-fluid"><a href="/collection/no-sidebar/{{ct.category_id}}"><img src="{{ct.image}}"> </a></div>
                      <h6 class="card-title">{{ct.name}}</h6>
                    </div>
                  </div>
            </div>
           
        </div>
    </div>
</section>
<!-- collection banner end -->