<app-header-one *ngIf="url == '/home/nine'  || url == '/pages/login'  || url == '/pages/register' || url == '/pages/search' || url == '/pages/about-us' || url == '/pages/sell' || url == '/pages/dashboard' "></app-header-one>

<app-header-profile *ngIf="url == '/home/profile'"></app-header-profile>

<router-outlet></router-outlet>
	
<app-footer-one *ngIf="url == '/home/nine' || url == '/pages/login' || url == '/pages/register' || url == '/pages/search' || url == '/pages/about-us' || url == '/pages/sell' || url == '/home/profile' || url == '/pages/order-success' || url == '/pages/dashboard' "></app-footer-one>
	

	

