<!-- <app-header-one *ngIf="url == '/home/nine'  || url == '/pages/login'  || url == '/pages/register' || url == '/pages/search' || url == '/pages/about-us' || url == '/pages/sell'"></app-header-one> -->

<app-header-one *ngIf="!isLoggedIn"></app-header-one>
<app-header-profile *ngIf="isLoggedIn"></app-header-profile>

<router-outlet></router-outlet>
<app-footer-one *ngIf="url == '/home/nine' || url == '/pages/login' || url == '/pages/register' || url == '/pages/search' || url == '/pages/about-us' || url == '/pages/sell' || url == '/home/profile' || url == '/pages/order-success' || url == '/pages/dashboard' || url == '/no-sidebar/collection/'"></app-footer-one>
	

	

