
<section>
  <form [formGroup]="searchForm">
      <label>
         <input type="text" (keyup)="searchTerm.next($event)" formControlName="search" placeholder="Search Here..." />
      
         <div *ngIf="loading">
              <!-- <p class="search-message">Searching</p> -->
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
         </div>
      </label>    

  </form>

  <div *ngIf="searchResults">
    <div class="results" >
      <div class="repo" *ngFor="let result of paginationElements | paginate: { itemsPerPage: 12, currentPage: page }">
          <div class="card-deck">
              <div class="card">
              <img loading="lazy" src="../../assets/{{result.image}}"
                  width="200"
                  height="auto"
                  alt="image"
              />
              <h4><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.product_name}}</a></h4>
              <p>{{result.description}}</p>
              <p>Price: {{result.price}}</p>
          </div>
          </div> 
      </div>
  </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
 
  <div *ngIf="errorMessage" class="errorMessage">
      <h2>Error</h2>
      <p class="error">{{errorMessage}}</p>
  </div>


</section>