<div class="row" >
    <div class="col-lg-6">
     
    </div>
    <div class="col-lg-6 text-right" *ngIf="!productsService?.catalogMode">
      <ul class="header-dropdown">
        

        <li class="mobile-accountt">
            <i class="fa fa-camera" aria-hidden="true"></i> 
            <a onclick="checkuser()"> {{ 'SELL'}} </a>
          </li>

        <li class="onhover-dropdown mobile-account">
          <i class="fa fa-user" aria-hidden="true"></i> {{ 'My-Account'}}
          <ul class="onhover-show-div">
            <li>
              <a [routerLink]="'/pages/login'">
                  {{ 'login'}}
              </a>
            </li>
            <!-- <li>
              <a [routerLink]="'/home/nine'">
                  {{ 'logout'}}
              </a>
            </li> -->
          </ul>
        </li>
      </ul>
    </div>
</div>





