<!-- breadcrumb start -->
<!-- <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Student login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/nine'">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form  (ngSubmit)="login()" #f="ngForm" class="theme-form">
                        <div class="form-group">
                            <label for="email">Matrikel#/Username</label>
                            <input type="text" class="form-control" id="email" placeholder="Matrikel#/Username" [(ngModel)]="model.matrikel_number" name="matrikel_number" required>
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" class="form-control" id="review" [(ngModel)]="model.password" name="password" placeholder="Enter your password" required>
                        </div>
                        <button class="btn btn-solid">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Register</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you tp post your products and chat with the seller.</p>
                    <h6>To start Selling & Buying click register</h6>
                    <button class="btn btn-solid" [routerLink]="'/pages/register'">Register</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="errorMessage" class="errorMessage">
        <h2>Error</h2>
        <p class="error">{{errorMessage}}</p>
    </div>

</section>

<!--Section ends-->