<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form [formGroup]="registerForm" class="theme-form" (ngSubmit)="Register()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Matrikulation Number</label>
                                <input type="text" formControlName="matrikel_number" class="form-control" name="matrikel_number" id="matrikNumber" [(ngModel)]="model.matrikel_number"   placeholder="Matrikulation Number" required="" [ngClass]="{ 'is-invalid': submitted && f.matrikel_number.errors }"
                                   />
                                <div *ngIf="submitted && f.matrikel_number.errors" class="invalid-feedback">
                                    <div *ngIf="f.matrikel_number.errors.required">Matrikulation Number is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="review">User Name</label>
                                <input type="text" class="form-control" formControlName="username" name="username" [(ngModel)]="model.username" id="userName"  placeholder="User Name" required="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">User Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="col-md-6">
                                <label for="email">First Name</label>
                                <input type="text" formControlName="First_Name" class="form-control" name="First_Name" id="First_Name" [(ngModel)]="model.First_Name" placeholder="First Name" value="{{users[0].first_name}}" disabled />
                                
                            </div>
                            <div class="col-md-6">
                                <label for="email">Last Name</label>
                                <input type="text" formControlName="Last_Name" class="form-control" name="Last_Name" id="First_Name" [(ngModel)]="model.Last_Name" placeholder="Last Name" required="" value="{{users[0].last_name}}" disabled />
                                <div *ngIf="submitted && f.Last_Name.errors" class="invalid-feedback">
                                    <div *ngIf="f.Last_Name.errors.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" formControlName="Email" class="form-control" name="Email" id="Email" [(ngModel)]="model.Email" placeholder="Email" value="{{users[0].email}}" required="" disabled />
                                
                            </div>
                            <div class="col-md-6">
                                <label for="review">Date of Birth</label>
                                <input type="text" class="form-control" formControlName="dob" name="dob" [(ngModel)]="model.dob" id="dob" placeholder="Date of Birth" value="{{users[0].dob}}" required="" disabled  />
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="review">Password</label>
                                <input type="password" class="form-control" formControlName="password" name="password" [(ngModel)]="model.password" id="review" placeholder="Enter password" required="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                
                            </div>
                            <div class="col-md-6">
                                <label for="review">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" [(ngModel)]="model.confirmPassword" id="review" placeholder="Confirm password" required="" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                />
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                            <button class="btn btn-solid" (click)="  onSubmit()">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->