
<footer class="footer-light">

	<section class="section-b-space light-layout">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<h4>about</h4>
					</div>
					<div class="footer-contant">
						<div class="footer-logo">
								<a [routerLink]="['/pages/about-us']">
							<img src="assets/images/icon/logo_f.png" alt="">
							</a>
						</div>
						<app-information></app-information>
						<app-social></app-social>
					</div>
				</div>
			
				<div class="col">
					<div class="sub-title">
					
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
						    <h4>Information</h4>
						</div>
						<div class="footer-contant">
						    <ul class="contact-list">
						        <li><i class="fa fa-map-marker"></i>SellIt - Buy & Sell Inc., Leipziger Straße Fulda 36037</li>
						        <li><i class="fa fa-phone"></i>Call Us: +49-151-00000000</li>
						        <li><i class="fa fa-envelope-o"></i>Email Us: <a [routerLink]="">contact@sellit.de</a></li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<app-copyright></app-copyright>
		</div>
	</div>
</footer>
