body{
    margin: 0px;
    padding: 0px;
    font-family: awesome;
    background: #6a3093;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

div {
       height: 200px;
       width: auto;
}

.container {
    text-align: center;
}

img {
    width: 171px !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.logo{
        height:90px;
        margin-left: 0%;
        margin-top: 119px;
}

input[type="text"]{
    border-radius: 10px;
    padding: 14px;
    border: none;
    display: block;
    width: 70%;
    margin: 2px auto 0px auto;
    max-width: 600px;
    box-shadow: 0px 0px 10px 0px rgba(213,214,214,1);
}

/* .search-message {
    font-size: 20px;
    color: white;
    padding-top: 40px;
    margin: 0px;
    font-family: monospace !important;
} */

.results {
    width: 80%;
    margin: 95px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.repo {
    width: 100%;
    max-width: 268px;
    height: 332px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 10px;
    background:#ffffff 
}

.repo h2 {
        width: 79%;
        margin: 0 auto;
        word-break: break-all;
}

.repo h2 > a {
    color: rgba(0, 155, 103);
}

.errorMessage h2 {
    color: red;
}

.error{
    padding: 20px;
    width: 40%;
    margin: 60px auto;
    box-shadow: 0px 10px 21px 0px rgba(214, 214,214, 1);
    border-radius: 10px;
}


/**
    loader
*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    /* height: 64px; */
    margin-top:20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ff0076;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }


 
.ngx-pagination {
    margin-left: 21px !important;
    margin-bottom: 1rem !important;
    font-family: monospace !important;
    padding: 0px 28px 11px 0px !important;
    margin-top: 614px;

} 


.ngx-pagination .current {
    padding: 0.1875rem 0.625rem !important;
    background: #ff0076 !important;
    color: #fefefe !important;
    border-radius: 25px !important;
    /* border: 0px; */
    cursor: default !important;
}

.ngx-pagination a, .ngx-pagination button {
    color: white !important;
    display: block !important;
    padding: 0.1875rem 0.625rem !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
}

.ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem !important;
    color: #cacaca !important;
    cursor: default !important;
    font-weight: 700 !important;
    color: #acaaaa !important;
}

h1 {
    display: block;
    font-size: 10px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

p {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: 600 !important;
  color: #ff0076;
}


.card-deck .card {
    display: flex;
    flex: 1 0 0% ;
    flex-direction: column; 
    margin-right: 15px ;
    margin-bottom: 0 ;
    margin-left: 15px ;
    margin-bottom: 8px !important;
}