<!-- section start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="" (click)=toggleDisplay()>My Ads</a></li>
                            <li><a [routerLink]="" (click)=isApproved()>Approved</a></li>
                            <li><a [routerLink]="" (click)=isUnderReview()>Under Review</a></li>
                            <li><a [routerLink]="" (click)=isSoldP()>Sold</a></li>
                            <li><a [routerLink]="" (click)=isDeleted()>Deleted</a></li>
                            <li><a [routerLink]="" (click)='profileDisplay() && getProfileData()'>Update Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-left">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>My Dashboard</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Welcome, {{matrik}}</p>
                            <p>From your My Account Dashboard you have the ability to view a snapshot of your account activity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- section end -->
<section>
    <div class="container">
        <div class="card-columns" *ngIf='showProfile'>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Update Profile</h3>
                    <div class="col-lg-12">
                        <form [formGroup]="updateForm" class="theme-form" (ngSubmit)='updateUser()'>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="email">Matrikulation Number</label>
                                    <input type="text" formControlName="matrikel_number" class="form-control" name="matrikel_number" id="matrikNumber" [(ngModel)]="model.matrikel_number" placeholder="Matrikulation Number" disabled required="" />
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="review">First Name</label>
                                    <input type="text" class="form-control" formControlName="firstname" name="firstname" [(ngModel)]="model.firstname" id="firstname" placeholder="First Name" required="" />
                                </div>
                            </div><br><br><br><br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="email">Last Name</label>
                                    <input type="text" formControlName="lastname" class="form-control" name="dob" id="lastname" [(ngModel)]="model.lastname" placeholder="Last Name" required="" />
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="review">Address</label>
                                    <input type="text" class="form-control" formControlName="address" name="address" [(ngModel)]="model.address" id="address" placeholder="Address" required="" />
                                </div>
                            </div><br><br><br><br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="review">Phone Number</label>
                                    <input type="text" class="form-control" formControlName="phoneno" name="phoneno" [(ngModel)]="model.phoneno" id="phoneno" placeholder="Phoneno" required="" />
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="review">User Name</label>
                                    <input type="text" class="form-control" formControlName="username" name="username" [(ngModel)]="model.username" id="username" placeholder="Enter Username" required="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <button type="submit" class="btn btn-solid">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <!-- approved -->

        <div class="card-columns" *ngIf='Approved' width="200px">
            <div class="card" *ngFor="let result of selectedProduct.products">
                <div *ngIf="result.status === 1">
                    <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                        <p class="card-text">{{result.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b *ngIf="result.status === 1" style="color: blueviolet"> Approved</b>
                            <b *ngIf="result.status === 2" style="color: #28a745"> Sold</b>
                            <b *ngIf="result.status === 3" style="color: #FFBF00"> Under Review</b>
                            <b *ngIf="result.status === 4" style="color: black"> Inactive</b>
                            <b *ngIf="result.status === 5" style="color: red"> Deleted</b>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4" class="btn btn-danger" (click)="Delete(result.product_id)">Delete</button>
                        <button *ngIf="result.status === 1" class="btn btn-success" (click)="Sold(result.product_id)">Mark as Sold</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- --- -->

        <!-- under review -->

        <div class="card-columns" *ngIf='UnderReview' width="200px">
            <div class="card" *ngFor="let result of selectedProduct.products">
                <div *ngIf="result.status === 3">
                    <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                        <p class="card-text">{{result.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b *ngIf="result.status === 1" style="color: blueviolet"> Approved</b>
                            <b *ngIf="result.status === 2" style="color: #28a745"> Sold</b>
                            <b *ngIf="result.status === 3" style="color: #FFBF00"> Under Review</b>
                            <b *ngIf="result.status === 4" style="color: black"> Inactive</b>
                            <b *ngIf="result.status === 5" style="color: red"> Deleted</b>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4" class="btn btn-danger" (click)="Delete(result.product_id)">Delete</button>
                        <button *ngIf="result.status === 1" class="btn btn-success" (click)="Sold(result.product_id)">Mark as Sold</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- --- -->

        <!-- sold -->

        <div class="card-columns" *ngIf='Sold1' width="200px">
            <div class="card" *ngFor="let result of selectedProduct.products">
                <div *ngIf="result.status === 2">
                    <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                        <p class="card-text">{{result.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b *ngIf="result.status === 1" style="color: blueviolet"> Approved</b>
                            <b *ngIf="result.status === 2" style="color: #28a745"> Sold</b>
                            <b *ngIf="result.status === 3" style="color: #FFBF00"> Under Review</b>
                            <b *ngIf="result.status === 4" style="color: black"> Inactive</b>
                            <b *ngIf="result.status === 5" style="color: red"> Deleted</b>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4" class="btn btn-danger" (click)="Delete(result.product_id)">Delete</button>
                        <button *ngIf="result.status === 1" class="btn btn-success" (click)="Sold(result.product_id)">Mark as Sold</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- --- -->

        <!-- deleted -->

        <div class="card-columns" *ngIf='Deleted' width="200px">
            <div class="card" *ngFor="let result of selectedProduct.products">
                <div *ngIf="result.status === 5">
                    <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                        <p class="card-text">{{result.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b *ngIf="result.status === 1" style="color: blueviolet"> Approved</b>
                            <b *ngIf="result.status === 2" style="color: #28a745"> Sold</b>
                            <b *ngIf="result.status === 3" style="color: #FFBF00"> Under Review</b>
                            <b *ngIf="result.status === 4" style="color: black"> Inactive</b>
                            <b *ngIf="result.status === 5" style="color: red"> Deleted</b>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4" class="btn btn-danger" (click)="Delete(result.product_id)">Delete</button>
                        <button *ngIf="result.status === 1" class="btn btn-success" (click)="Sold(result.product_id)">Mark as Sold</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <!-- --- -->

        <div class="card-columns" *ngIf='isShow' width="200px">
            <!-- <form [formGroup]="statusUpdate" (ngSubmit)="getProdId()"> -->
            <div class="card" *ngFor="let result of selectedProduct.products">
                <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                <div class="card-body">
                    <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                    <p class="card-text">{{result.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b *ngIf="result.status === 1" style="color: blueviolet"> Approved</b>
                        <b *ngIf="result.status === 2" style="color: #28a745"> Sold</b>
                        <b *ngIf="result.status === 3" style="color: #FFBF00"> Under Review</b>
                        <b *ngIf="result.status === 4" style="color: black"> Inactive</b>
                        <b *ngIf="result.status === 5" style="color: red"> Deleted</b>
                    </li>
                </ul>
                <div class="card-body">
                    <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4" class="btn btn-danger" (click)="Delete(result.product_id)">Delete</button>
                    <button *ngIf="result.status === 1" class="btn btn-success" (click)="Sold(result.product_id)">Mark as Sold</button>
                </div>

            </div>
            <!-- </form> -->
        </div>



    </div>
</section>