<!-- section start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="" (click)=toggleDisplay()>My Ads</a></li>
                            <li><a [routerLink]="" (click)=toggleDisplay()>Change Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-left">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>My Dashboard</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Welcome, {{matrik}}</p>
                            <p>From your My Account Dashboard you have the ability to view a snapshot of your account activity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- section end -->
<section>
    <div class="container">
        <div class="card-columns" *ngIf='isShow' width="200px">
            <!-- <form [formGroup]="statusUpdate" (ngSubmit)="getProdId()"> -->
            <div class="card" *ngFor="let result of selectedProduct.products">
                <img class="card-img-top" src="{{result.image[0].url}}" alt="Card image cap" height="180px" width="180px">
                <div class="card-body">
                    <h3 class="card-title"><a href="/home/right-sidebar/product/{{result.product_id}}">{{result.name}}</a></h3>
                    <p class="card-text">{{result.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Status: <b *ngIf="result.status === 1"> Approved</b> 
                        <b *ngIf="result.status === 2"> Sold</b> 
                        <b *ngIf="result.status === 3"> Under Review</b> 
                        <b *ngIf="result.status === 4"> Inactive</b> 
                        <b *ngIf="result.status === 5"> Deleted</b> 
                    </li>
                </ul>
                <div class="card-body">
                    <button *ngIf="result.status === 1 || result.status === 3 || result.status === 4"
                     class="btn btn-danger"  (click)="Delete(result.product_id)">Delete</button>
                    <button *ngIf="result.status === 1"
                    class="btn btn-success"  (click)="Sold(result.product_id)">Mark as Sold</button>
                </div>

            </div>
            <!-- </form> -->
        </div>
    </div>
</section>